
.btn-flat {
    background-color: purple;
    color: white;
    border: 1px solid #999;
    float: center;
    font-size: 54px;
    font-weight: bold;
    line-height: 74px;
    height: 74px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 74px;
  }

  .allign{
      text-align: center;
  }
 